body{
  font-family:"Montserrat";
  text-align:center !important;
}
h1,h2,h3,h4,h5,h6{
  font-family:"Montserrat";
  font-weight: 400 !important;
}

#title{
 
  text-align: left;
}

#this{
  padding: 3% 15% 7%;

}
/* HEADING */
#big-heading{
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  line-height: 1.5;

}
.price-text{
   font-size: 2.5rem !important;
   line-height: 1.5 !important;
}

/* Navigation bar */
#big{
    padding: 0 0 2.5rem !important;
}


.navbar-brand {
  font-family: 'Ubuntu' !important;
  font-size:2.5rem !important;
  margin-right: -16px !important;
}
.navbar{
  padding-bottom: 3.5rem !important;
}
.nav-item{
  padding: 0 18px !important;

}
.nav-link{
  font-size: 1.2rem !important;
  font-family: 'Montserrat-light' !important;
}
.Download-Button{
  margin: 3% 5% 3% 0;

}
/* Title Image */

/* Features Section */
#features{
  padding: 7% 15%;
background-color: white;
position: relative;


}

.feature-title{
    font-size: 1.5rem !important;
   
}

.feature-text{
  color: #8f8f8f !important;
  padding: 0 5% !important;
  

}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
.title-image{
  width:45% !important;
  transform: rotate(25deg) !important;
  position: absolute;
  right: 30%;
}

/* Testimonial Section */

.carousel-item{
  padding:7% 15%;
}
.Testimonial-image{

  width: 10% !important;
  border-radius: 100% !important;
margin:20px;
}
#press{
 

  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* Pricing Section */
#pricing{
   padding:100px;
}
.pricing-column{
  padding: 3% 2%;
  text-align: center;
}
@media (max-width:1028px) {
  #title{
    text-align: center;
  }
.title-image{
   position: static;
}
}
#cta{
  padding: 7% 15%;
 
 
}
.cta-heading{
  font-family:"Montserrat-black";
  font-size: 3.1rem !important;
}
#footer{
  padding:7% 15%;


}
.social-icon{
  margin: 20px 10px;
}

.coloured-section{
   background-color:#ef8172;
   color: white;

}

.white-seciton{
 color: #fff;
 background-color: #ff4c68;
}